# check every hour
daemon=3600
protocol=dyndns2
use=web, web=checkip.spdns.de
server=update.spdns.de
#ssl=yes

{% for domain in domains %}
# Domain {{ domain.key }}
login={{ domain.key }}
password='{{ domain.values.token }}'
{{ domain.key }}

{% endfor %}
