# check every hour
daemon=3600
protocol=dyndns2
use=web, web=checkip.spdns.de
server=update.spdns.de
#ssl=yes

# First dns name
login=hom3.spdns.org
password=''
hom3.spdns.org

# Second dns name
login=cloud-hom3.spdns.org
password=''
cloud-hom3.spdns.org
