# check every 5 mins
daemon=300
protocol=dyndns2
use=web, web=checkip.spdns.de
server=update.spdns.de
#ssl=yes

# Domain {{ web.domain }}
login={{ web.domain }}
password='{{ web.token }}'
{{ web.domain }}

# Domain {{ nextcloud.domain }}
login={{ nextcloud.domain }}
password='{{ nextcloud.token }}'
{{ nextcloud.domain }}

# Domain {{ cockpit.domain }}
login={{ cockpit.domain }}
password='{{ cockpit.token }}'
{{ cockpit.domain }}
