# Create User for tor
- name: Create User - tor
  ansible.builtin.user:
    name: "{{ tor_relay_user_name }}"
    comment: User for tor_relay docker
    system: true
    create_home: false
    uid: "{{ tor_relay_user_id }}"
    group: "{{ tor_relay_group_name }}"

# # Create config directory
# - name: "Create Directory - {{ tor_config_dir }}"
#   file:
#     path: "{{ item }}"
#     state: directory
#     owner: "{{ tor_user_name }}"
#     group: "{{ tor_group_name }}"
#     seuser: "{{ se_file_user }}"
#     serole: "{{ se_file_role }}"
#     setype: "{{ se_file_type }}"
#   loop:
#     - "{{ tor_config_dir }}"
#     - "{{ tor_data_dir }}"

# # Copy Template
# - name: "Copy Template - torrc"
#   template:
#     src: torrc.template
#     dest: "{{ tor_config_dir }}/torrc"
#     mode: 0600
#     owner: "{{ tor_user_name }}"
#     group: "{{ tor_group_name }}"
#     seuser: "{{ se_file_user }}"
#     serole: "{{ se_file_role }}"
#     setype: "{{ se_file_type }}"

# - name: Create Docker Network - tor-public
#   community.docker.docker_network:
#     name: tor-public
#     enable_ipv6: false

# Start the tor_relay docker container with prepared config file
- name: Start Container - tor_relay
  community.docker.docker_container:
    name: tor_relay
    hostname: tor_relay
    memory: 1024M
    image: kricklen/tor_relay:latest
    pull: true
    state: started
    restart_policy: unless-stopped
    user: "{{ tor_relay_user_id }}:{{ tor_relay_group_name }}"
    volumes:
      - "{{ tor_relay_config_dir }}:/etc/tor:Z"
      - "{{ tor_relay_data_dir }}:/var/lib/tor/data:Z"
      - "/mnt/tor/run:/var/run/tor:Z"
    ports:
      - "{{ tor_relay_or_port }}:{{ tor_relay_or_port }}"
      - "{{ tor_relay_dir_port }}:{{ tor_relay_dir_port }}"
    networks:
      - name: tor-public
    comparisons:
      networks: strict # This removes the container from the default network, which should be "bridge"
