# Delete User for tor
- name: Delete User - tor
  ansible.builtin.user:
    state: absent
    name: "{{ tor_relay_user_name }}"

# Remove the tor_relay docker container with prepared config file
- name: Stop and Remove Container - tor_relay
  community.docker.docker_container:
    state: absent
    name: tor_relay

# - name: Remove Docker Network - tor-public
#   community.docker.docker_network:
#     state: absent
#     name: tor-public
