# Include tasks for creating cockpit
- name: Install cockpit_ws
  ansible.builtin.include_tasks: "install.yml"
  when: run_mode == "install"

- name: Uninstall cockpit_ws
  ansible.builtin.include_tasks: "uninstall.yml"
  when: run_mode == "uninstall"
