# Include tasks for creating plex
- name: Install plex
  ansible.builtin.include_tasks: "install.yml"
  when: run_mode == "install"

- name: Uninstall plex
  ansible.builtin.include_tasks: "uninstall.yml"
  when: run_mode == "uninstall"
