- name: Delete User - plex
  ansible.builtin.user:
    state: absent
    name: "{{ plex_user_name }}"

- name: Stop and Remove Docker Container - plex
  community.docker.docker_container:
    state: absent
    name: plex
