# Start the ddclient docker container with prepared config file
- name: Stop and Remove Container - ddclient
  community.docker.docker_container:
    state: absent
    name: ddclient

# # Remove network
# - name: Remove Docker Network - ddclient
#   community.docker.docker_network:
#     state: absent
#     name: ddclient-public

# Create User for ddclient
- name: Delete User - ddclient
  ansible.builtin.user:
    state: absent
    remove: true
    name: "{{ ddclient_user_name }}"

# # Remove config directory
# - name: "Remove Directory - {{ ddclient_config_dir }}"
#  file:
#    state: absent
#    path: "{{ ddclient_config_dir }}"
