# Create User for nextcloud
- name: Create User - nextcloud
  ansible.builtin.user:
    state: present
    name: "{{ nextcloud_user_name }}"
    comment: User for nextcloud docker
    system: false
    create_home: false
    # non_unique: yes
    uid: "{{ nextcloud_user_id }}"
    group: "{{ nextcloud_group_name }}"

# # Create directories
# - name: Create Directories - nextcloud
#   file:
#     path: "{{ item }}"
#     state: directory
#     owner: "{{ nextcloud_user_name }}"
#     group: "{{ nextcloud_group_name }}"
#     seuser: "{{ se_file_user }}"
#     serole: "{{ se_file_role }}"
#     setype: "{{ se_file_type }}"
#     recurse: yes
#   loop:
#     - "{{ nextcloud_www_dir }}"
#     - "{{ nextcloud_nginx_dir }}"
#     - "{{ nextcloud_db_dir }}"

# # Copy nginx.conf
# - name: Copy Template - nginx.conf.template -> nginx.conf
#   template:
#     src: nginx.conf.template
#     dest: "{{ nextcloud_nginx_dir }}/nginx.conf"
#     owner: "{{ nextcloud_user_name }}"
#     group: "{{ nextcloud_group_name }}"
#     seuser: "{{ se_file_user }}"
#     serole: "{{ se_file_role }}"
#     setype: "{{ se_file_type }}"

# # Create proxy network
# - name: Create Docker Network - nextcloud-public
#   community.docker.docker_network:
#     name: nextcloud-public
#     enable_ipv6: false

# # Create nextcloud_net network
# - name: Create Docker Network - nextcloud-private
#   community.docker.docker_network:
#     name: nextcloud-private
#     enable_ipv6: false

# # Create list of mounted volumes for system and external dirs
# - name: Set facts nextcloud_shares
#   set_fact:
#     nextcloud_volume_list: "{{ nextcloud_volume_list + [ item.key + ':' + item.value + ':z' ] }}"
#   loop: "{{ nextcloud_shares | dict2items }}"

# Start nextcloud-db docker container
- name: Start Container - nextcloud-db
  community.docker.docker_container:
    name: nextcloud-db
    hostname: nextcloud-db
    image: kricklen/nextcloud_db:latest
    state: started
    restart_policy: unless-stopped
    env:
      "MYSQL_RANDOM_ROOT_PASSWORD": "yes" nonono
    volumes:
      - "{{ nextcloud_db_dir }}:/var/lib/mysql:Z"
    networks:
      - name: nextcloud-private
    comparisons:
      networks: strict # This removes the container from the default network, which should be "bridge"

# Start nextcloud-fpm docker container
- name: "Start Container - {{ nextcloud_fpm_name }}"
  community.docker.docker_container:
    name: "{{ nextcloud_fpm_name }}"
    hostname: "{{ nextcloud_fpm_name }}"
    image: kricklen/nextcloud_fpm:latest
    user: "{{ nextcloud_user_id }}:{{ nextcloud_group_id }}"
    state: started
    restart_policy: unless-stopped
    volumes:
      "{{ nextcloud_volume_list }}"
    purge_networks: yes
    networks:
      - name: nextcloud-public
      - name: nextcloud-private
    comparisons:
      networks: strict # This removes the container from the default network, which should be "bridge"

# Start nextcloud-web (nginx) to serve static html content
- name: Start Container - nextcloud-web
  community.docker.docker_container:
    name: nextcloud-web
    hostname: nextcloud-web
    image: kricklen/nextcloud_nginx:latest
    user: "{{ nextcloud_user_id }}:{{ nextcloud_group_id }}"
    state: started
    restart_policy: unless-stopped
    volumes:
      - "{{ nextcloud_www_dir }}:/var/www/html:z,ro"
      - "{{ nextcloud_nginx_dir }}/nginx.conf:/etc/nginx/nginx.conf:z,ro"
    networks:
      - name: nextcloud-public
      - name: reverse-proxy-public
    comparisons:
      networks: strict # This removes the container from the default network, which should be "bridge"
