# Include tasks for creating nextcloud
- name: Install nextcloud
  ansible.builtin.include_tasks: "install.yml"
  when: run_mode == "install"

- name: Uninstall nextcloud
  ansible.builtin.include_tasks: "uninstall.yml"
  when: run_mode == "uninstall"
