# - name: Remove File - nextcloud-cron.timer
#   ansible.builtin.file:
#     path: /etc/systemd/system/nextcloud-cron.timer
#     state: absent

# - name: Remove File - nextcloud-cron.service
#   ansible.builtin.file:
#     path: /etc/systemd/system/nextcloud-cron.service
#     state: absent

- name: Disable Systemd Unit - nextcloud-cron.timer
  ansible.builtin.systemd_service:
    name: nextcloud-cron.timer
    daemon_reload: true
    state: stopped

- name: Stop and Remove Container - nextcloud-web
  community.docker.docker_container:
    state: absent
    name: nextcloud-web

- name: "Stop and Remove Container - {{ nextcloud_fpm_name }}"
  community.docker.docker_container:
    state: absent
    name: "{{ nextcloud_fpm_name }}"

- name: "Stop and Remove Container - nextcloud-db"
  community.docker.docker_container:
    state: absent
    name: nextcloud-db

- name: "Stop and Remove Container - nextcloud-redis"
  community.docker.docker_container:
    state: absent
    name: nextcloud-redis

- name: Delete User - nextcloud
  ansible.builtin.user:
    state: absent
    name: "{{ nextcloud_user_name }}"

# # Remove directories
# - name: Remove Directories - nextcloud
#   file:
#     state: absent
#     path: "{{ item }}"
#   loop:
# #    - "{{ nextcloud_www_dir }}"
#     - "{{ nextcloud_nginx_dir }}"
