# Create User for web
- name: Create User - web
  ansible.builtin.user:
    state: present
    name: "{{ web_user_name }}"
    comment: User for web docker
    system: false
    create_home: false
    # non_unique: yes
    uid: "{{ web_user_id }}"
    group: "{{ web_group_name }}"

# # Create directories
# - name: Create Directories - web
#   file:
#     path: "{{ item }}"
#     state: directory
#     owner: "{{ web_user_name }}"
#     group: "{{ web_group_name }}"
#     seuser: "{{ se_file_user }}"
#     serole: "{{ se_file_role }}"
#     setype: "{{ se_file_type }}"
#     recurse: yes
#   loop:
#     - "{{ web_www_dir }}"
#     - "{{ web_nginx_dir }}"

# # Copy nginx.conf
# - name: Copy Template - nginx.conf.template -> nginx.conf
#   template:
#     src: nginx.conf.template
#     dest: "{{ web_nginx_dir }}/nginx.conf"
#     owner: "{{ web_user_name }}"
#     group: "{{ web_group_name }}"
#     seuser: "{{ se_file_user }}"
#     serole: "{{ se_file_role }}"
#     setype: "{{ se_file_type }}"

# # Create web network
# - name: Create Docker Network - web-private
#   community.docker.docker_network:
#     name: web-private
#     enable_ipv6: false

# Start web-fpm docker container
- name: Start Container - web-fpm
  community.docker.docker_container:
    name: web-fpm
    hostname: web-fpm
    image: kricklen/web_fpm:latest
    pull: true
    user: "{{ web_user_id }}:{{ web_group_id }}"
    state: started
    restart_policy: unless-stopped
    volumes:
      - "{{ web_www_dir }}:/var/www/html:z"
    networks:
      - name: web-private
    comparisons:
      networks: strict # This removes the container from the default network, which should be "bridge"

# Start web-nginx (nginx) to serve static html content
- name: Start Container - web-nginx
  community.docker.docker_container:
    name: web-nginx
    hostname: web-nginx
    image: kricklen/web_nginx:latest
    pull: true
    user: "{{ web_user_id }}:{{ web_group_id }}"
    state: started
    restart_policy: unless-stopped
    volumes:
      - "{{ web_www_dir }}:/var/www/html:z,ro"
      - "{{ web_nginx_dir }}/nginx.conf:/etc/nginx/nginx.conf:z,ro"
    networks:
      - name: reverse-proxy-public
      - name: web-private
    comparisons:
      networks: strict # This removes the container from the default network, which should be "bridge"
