# Include tasks for creating web
- name: Install web
  ansible.builtin.include_tasks: "install.yml"
  when: run_mode == "install"

- name: Uninstall web
  ansible.builtin.include_tasks: "uninstall.yml"
  when: run_mode == "uninstall"
