# Playbook for installing ddclient, nextcloud, samba etc.
# on Fedora Atomic Host
---
- name: Home Server
  hosts: localhost
  connection: local

  vars:
    # run_mode is used to control whether the tasks should create or remove things
    # Can be "install" or "uninstall"
    run_mode: install
    # SELinux Settings for /mnt/ files and folders
    se_file_role: object_r
    se_file_user: system_u
    se_file_type: container_file_t

  # Include variables for setting up domains in ddclient, certbot, proxy nginx
  vars_files:
    - ./setup-vars.yml

  roles:
    - networks
#    - cockpit_ws
#    - fail2ban
    - ddclient
# Instead of using a container for samba, use the fedora package:
# https://docs.fedoraproject.org/en-US/quick-docs/samba/
#    - samba
    - nextcloud
    - web
    - proxy
    - plex
    - tor_relay
    - watchtower
