# # Create network
# - name: Create Docker Network - ouroboros-public
#   community.docker.docker_network:
#     name: ouroboros-public
#     enable_ipv6: false

# Start the ouroboros docker container
- name: Start Docker Container - ouroboros
  community.docker.docker_container:
    state: started
    name: ouroboros
    hostname: ouroboros
    image: pyouroboros/ouroboros:latest
    restart_policy: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    env:
      CLEANUP: true
      INTERVAL: 3600
      LOG_LEVEL: info
      SELF_UPDATE: true
      IGNORE: "mongo influxdb postgres mariadb"
      TZ: "Europe/Berlin"
    networks:
      - name: ouroboros-public
    comparisons:
      networks: strict # This removes the container from the default network, which should be "bridge"
