# Include tasks for creating ouroboros
- name: Install ouroboros
  ansible.builtin.include_tasks: "install.yml"
  when: run_mode == "install"

- name: Uninstall ouroboros
  ansible.builtin.include_tasks: "uninstall.yml"
  when: run_mode == "uninstall"
