# Include tasks for creating samba
- name: Install samba
  ansible.builtin.include_tasks: "install.yml"
  when: run_mode == "install"

- name: Uninstall samba
  ansible.builtin.include_tasks: "uninstall.yml"
  when: run_mode == "uninstall"
