# Start the samba docker container with prepared config file
- name: Stop and Remove Docker Container - samba
  community.docker.docker_container:
    state: absent
    name: samba

# - name: Remove Docker Network - samba-public
#   community.docker.docker_network:
#     state: absent
#     name: samba-public

# Delete User for samba
- name: Delete User - samba
  ansible.builtin.user:
    state: absent
    name: "{{ samba_user_name }}"

# Remove docker volumes for samba
- name: Remove Docker Volumes - samba
  community.docker.docker_volume:
    state: absent
    name: "{{ item }}"
  with_items:
    - samba_etc
    - samba_cache
    - samba_lib
    - samba_log
    - samba_run
