# # Create network
# - name: Create Docker Network - watchtower-public
#   community.docker.docker_network:
#     name: watchtower-public
#     enable_ipv6: false

# Start the watchtower docker container
- name: Start Docker Container - watchtower
  community.docker.docker_container:
    state: started
    name: watchtower
    hostname: watchtower
    image: nickfedor/watchtower:latest
    privileged: true
    restart_policy: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    env:
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_POLL_INTERVAL: "3600"
      WATCHTOWER_LOG_LEVEL: "info"
      TZ: "Europe/Berlin"
    networks:
      - name: watchtower-public
    comparisons:
      networks: strict # This removes the container from the default network, which should be "bridge"
