- name: Stop and Remove Container - reverse-proxy
  community.docker.docker_container:
    state: absent
    name: reverse-proxy

# - name: Remove Docker Network - reverse-proxy-public
#   community.docker.docker_network:
#     state: absent
#     name: reverse-proxy-public

- name: Stop and Remove Container - certbot
  community.docker.docker_container:
    state: absent
    name: certbot

# - name: Remove Docker Network - certbot-public
#   community.docker.docker_network:
#     state: absent
#     name: certbot-public

# # Delete directories
# - name: Delete Directories - proxy
#  file:
#    state: absent
#    path: "{{ item }}/"
#  with_items:
#  - "{{ proxy_certbot_conf_path }}"
#  - "{{ proxy_certbot_www_path }}"
#  - "{{ proxy_nginx_path }}"
